*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style */
.navbar-container{
    background-color: #add8e6;
    padding: 15px 0px;
}

.top-navbar{
    display: flex;
    width: 65%;
    margin: 0 auto;
    background-color: #daa520;
    justify-content: space-between;
    line-height: 30px;
}

header > section{
    background-color: #00008b;
    padding: 40px 0px;
}

.box-1{
    background-color: #ee82ee;
    margin: auto;
    width: 900px;
    height: 400px;
}

/* main style */
.sezione-1{
    padding: 40px 0px;
}

.box-2{
    display: flex;
    margin: 0 auto;
    width: 1200px;
    height: 500px;
}

.box-2 .img{
    background-color: #1e90ff;
    width: 60%;
}

.box-2 .text{
    background-color: #ffc0cb;
    width: 40%;
}

section.sezione-2, section.sezione-3{
    padding: 40px 0px;
    background-color: #d3d3d3;
}

.box-3{
    margin: auto;
    width: 1200px;
    height: 900px;
    background-color: #228b22;
}

.foot-sezione-1{
    padding: 10px 0px 40px;
    background-color: #23272a;
}

.box-4{
    display: flex;
    margin: auto;
    width: 1200px;
    height: 500px;
}

.box-4 .img{
    background-color: #f08080;
    width: 40%;
}

.box-4 .text-column{
    border-left: 1px solid white;
    background-color: #20b2aa;
    width: 15%;
}

.foot-sezione-2{
    padding-top: 40px;
    background-color: #23272a;
}

.box-5{
    display: flex;
    margin: auto;
    width: 1200px;
    height: 50px;
    justify-content: space-between;
    background-color: #7fffd4;
    align-items: center;
}

div.box-5 div{
    background-color: #ffb6c1;    
}